
<%= form_for(@school, :html => { :class => "form-horizontal"} ) do |f| %>
<% if @school.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

	<ul>
		<% @school.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<fieldset>

	<div class="control-group">
		<%= f.label :name, :class=>"control-label" %>
		<div class="controls">
		<%= f.text_field :name %>

	</div>
</div>
</fieldset>

<fieldset>

	<div class="control-group">
		<%= f.label :city, :class=>"control-label" %>
		<div class="controls">
		<%= f.text_field :city %>

	</div>
</div>
</fieldset>
<fieldset>

	<div class="control-group">
		<%= f.label :state, :class=>"control-label" %>
		<div class="controls">
		<%= f.text_field :state %>

	</div>
</div>
</fieldset>
<fieldset>

	<div class="control-group">
		<%= f.label :email, :class=>"control-label" %>
		<div class="controls">
		<%= f.text_field :email %>

	</div>
</div>
</fieldset>

<%= f.submit 'Guardar Colegio', :class => 'btn btn-large btn-primary' %>

<% end %>
