<% content_for :head do %>
<%javascript_include_tag "dataTables.bootstrapPagination"%>

  <script type="text/javascript" charset="utf-8">
 jQuery(document).ready(function(){
    
	jQuery('#schools').dataTable({
    "sPaginationType": "bootstrap"
    });



    jQuery.extend( jQuery.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
    } );
    });

</script>

<% end %>
<h1>Colegios de Venezuela</h1>

<table class="table table-striped" id="schools">
	<thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Phone</th>
    <th>Email</th>
		<th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @schools.each do |school| %>
  <tr>
    <td><%= school.name %></td>
    <td><%= school.city %></td>
    <td><%= school.state %></td>
    <td><%= school.phone %></td>
    <td><%= school.email %></td>
		<td>
		<% unless school.contact_status.nil?%>
			<%= school.contact_status.name %>
		<%end%>
			</td>
    <td><%= link_to 'Show', school %></td>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
