

<p id="notice"><%= notice %></p>



<div class="row-fluid">
	<div class="span12">
		<h1><%= @school.name %></h1>
		<div class="row-fluid">
			<div class="span6">
				<p>
				  <b>City:</b>
				  <%= @school.city %>
				</p>

				<p>
				  <b>State:</b>
				  <%= @school.state %>
				</p>
			</div>
			<div class="span6">
					<p>
					  <b>Phone:</b>
					  <%= @school.phone %>
					</p>

					<p>
					  <b>Email:</b>
					  <%= @school.email %>
					</p>
			</div>
		</div>
	</div>
</div>
 




<%= link_to 'Edit', edit_school_path(@school), :class=> "btn" %>
<ul class="pager">
	<%unless @previous_school.nil? %>
	<li>
    <%= link_to 'Previous', school_path(@previous_school) %>
    </li>
	<%end%>
    
    <li>
    <%= link_to 'Next', school_path(@next_school) %>
    </li>
    </ul>
