<!DOCTYPE html>
<html>
<head>
	<title>VentasAkdemia</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li>
							<%= link_to 'Colegios', schools_path() %> 
						</li>
					</ul>
				</div>
			</div>
		</div>
		<%= yield %>
	</div>
</body>
</html>
